@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {
    /* The box-sizing property allows us to include the padding and border in an element's total width and height.
    If you set box-sizing: border-box; on an element, padding and border are included in the width and height: */
    box-sizing: border-box;
}

body {
    background-color: #efedd6;
    font-family: 'Bebas Neue', 'sans-serif';
    display: flex;
    flex-direction: column;
    justify-content: center; /* This puts items in the center of the page width-wise. Couple this with height: 100vh; to get it to be in the center of the page. */
    align-items: center; /* This will align items horizontally if flex-direction is column and align items vertically if flex-direction is row */
    margin: 0;
    overflow-x: hidden;
}

h2 {
    margin: 10px;
}

.box {
    background-color: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0%);
}

.box h2 {
    font-size: 45px;
}