@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {
    /* The box-sizing property allows us to include the padding and border in an element's total width and height.
    If you set box-sizing: border-box; on an element, padding and border are included in the width and height: */
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', 'sans-serif';
    background-color: #0581ca;
    display: flex;
    flex-direction: column;
    justify-content: center; /* This puts items in the center of the page width-wise. Couple this with height: 100vh; to get it to be in the center of the page. */
    align-items: center; /* This will align items horizontally if flex-direction is column and align items vertically if flex-direction is row */
    height: 100vh;
    overflow: hidden; /* hides scroll bars */
    margin: 0;
}

.box {
    background-color: white;
    padding-top: 30px;
    padding: 30px;
}

.box h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    color: #015a96;
    font-family: sans-serif;
}

input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid rgb(13, 152, 245);
    outline: none;
    font-size: 22px;
}

input::placeholder {
    font-size: 25px;
}

#button {
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 40px;
    border: 2px solid rgb(20, 139, 250);
    width: 155px;
    height: 50px;
    background-color: #0c81ee;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 7px;
}

.btn2 {
    margin-left: 85px;
}

#button:hover {
    color: white;
    background-color: black;
}