@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {
    /* The box-sizing property allows us to include the padding and border in an element's total width and height.
    If you set box-sizing: border-box; on an element, padding and border are included in the width and height: */
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', 'sans-serif';
    display: flex;
    flex-direction: row;
    justify-content: center; /* This puts items in the center of the page width-wise. Couple this with height: 100vh; to get it to be in the center of the page. */
    align-items: center; /* This will align items horizontally if flex-direction is column and align items vertically if flex-direction is row */
    height: 100vh;
    overflow: hidden; /* hides scroll bars */
    margin: 0;
}